*, *::before, *::after {
  font-family: Gotham Rounded;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.message {
  padding: 10px;
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.correct {
  color: white;
  padding: 8px;
  margin: 8px;
  background-color: green;
}

.wrong {
  color: white;
  padding: 8px;
  margin: 8px;
  background-color: lightcoral;
}

.check-btn, .next-btn {
  background-color: skyblue;
  font-size: 1rem;
  width: 150px;
  padding: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.selected {
  background-color: lightgreen;
}